.table .glyphicon {
    display: inline-block;
    margin: 2px;
}
.content-header>.breadcrumb {
    left: 30px;
    right: auto;
}
.content {
    clear: both;
    margin-top: 20px;

}
.content > .box.box-primary {
    padding: 10px;
}